/*FONTS*/
@font-face {
    font-family: "aldrich";          /* Lato light */
    src: url("font/aldrich-regular.ttf");
}

/*Universal*/
header, body, footer,
a {
    color: white;
}

h1, h2, h3, h4,
p, span,
a, button,
li {
    font-family: "aldrich";
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}

/*HEADER*/
header {
    background-color: blue;

    margin-bottom: 25px;
}

.header-row {
    overflow: hidden;
    clear: left;
}
.header-column {
    padding: 0.5rem;
}

    /*Decoration*/
.slash-right, .slash-left {
    background-color: black;
    width: 35px;
    height: 35px;
}
#header-bottom-row .align-left.decorate,
#header-bottom-row .align-right.decorate{
    width: 8%;
    border-top: double black 5px;
}

    /*Header top row*/
#header-top-row {
    margin: 0 35px;
}
.header-column
{
    border-bottom: double black 5px;
}

    /*Header bottom row*/
#header-bottom-row {
    margin-top: 50px;
}

/*Homepage*/
section#homepage-content {
    background-color: blue;
    color: white;
}
.homepage-row {
    overflow: hidden;
    clear: left;
    display: flex;
}
.homepage-column {
    float: left;
    width: 46%;
    padding: 2%;
}
.homepage-column h2{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.homepage-column p{
    text-align: justify;
}

.homepage-column input,
.homepage-column textarea
{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.homepage-column button[type="submit"] {
    width: 100%;
    padding: 0.5rem;
}
.homepage-column ul{
    list-style-type: none;
    padding: 0;
}
    .homepage-column li{
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
        .homepage-column li img{
            margin-right: 0.5rem;
        }
img#homepage-fronpic {
    width: 100%;
}

/*List Project*/
section.project-item-parent {
    background-color: blue;
    overflow: hidden;
    margin-top: 1rem;
    min-height: 250px;
}

.list-column {
    width: 46%;
    float: left;
    padding: 2%;
}
.list-column h2 {
    margin-top: 1rem;
}
.list-column h2 a{
    margin-top: 1rem;
    text-decoration: none;
}
.list-column h2 a:hover{
    margin-top: 1rem;
    text-decoration: underline;
}
.list-column ul{
    list-style-type: none;
}
.list-column li {
    padding: 0.25rem;
    display: flex;
    align-items: center;
}
.list-column li img{
    margin-right: 0.5rem;
}
.list-right-column {
    background-color: blue;
    min-height: 250px;
}
.list-right-column p {
    text-align: justify;
}
.list-right-column a {
    display: block;
    background-color: black;
    padding: 0.5rem;
    text-decoration: none;
}