.homepage-row,
.project-row {
    display: block;
}
.homepage-column,
.category-detail-column,
.list-column,
.project-column {
    float: none;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.slick-prev,
.slick-next {
    display: none !important;
}

/*@media all and (max-width: 600px) {*/
    /*#main_content {*/
        /*padding: 0;*/
    /*}*/
/*}*/
