{% extends 'base.html.twig' %}

{% block body %}

    <img src="/img/infos/bertrand-malfray.png" alt="Photo de Bertrand Malfray">
    <h2>Contact</h2>
    <h2>Bio</h2>
    <p>Biographie Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis debitis,
        deserunt dignissimos doloribus dolorum earum id impedit magnam nam quis saepe totam ut. Explicabo
        fugit harum laboriosam magnam porro.
    </p>
    <h2>Informations</h2>
    <ul>
        <li>School name</li>
        <li>School address</li>
        <li>Phone number</li>
    </ul>

{% endblock %}