{% extends 'base.html.twig' %}

{% block body %}

    <!-- Homepage main content -->
    <section id="homepage-content">
        <!-- Top row -->
        <div class="homepage-row">
            <!-- Top right column -->
            <div class="homepage-column horizontal-center">
                <!-- Bertrand picture -->
                <img id="homepage-fronpic"
                     src="/img/infos/bertrand-malfray.jpg"
                     alt="Photo de Bertrand Malfray">
            </div>
            <!-- Top left column -->
            <div class="homepage-column">
                <!-- Biography -->
                <h2>\ Bio</h2>
                <p>Etudiant en 4eme année en game et level design à Objectif3D Montpellier. J’ai étudié des méthodes rationnelles
                    de design et aime travailler en équipe. </p>
                <p>J’aspire à travailler internationalement dans une grande entreprise. Actuellement en recherche de stage de fin d’étude
                    ou d’un emploi pour 2018. N’hésitez pas à me contacter pour tout retour.
                </p>
                <div id="cv-links">
                    <p>
                        <a target="_blank" href="/assets/CV_BertrandMalfrayGD.pdf">
                            <img src="/img/picto/pdf.png" alt="Document pictogram"><br/>
                            CV Game Design
                        </a>
                    </p>
                    <p>
                        <a target="_blank" href="/assets/CV_BertrandMalfrayLD.pdf">
                            <img src="/img/picto/pdf.png" alt="Document pictogram"><br/>
                            CV Level Design
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Bottom row -->
        <div class="homepage-row">
            <!-- Bottom left column -->
            <div class="homepage-column">
                <!-- Work informations -->
                <h2>\ Informations</h2>
                <ul>
                    <li>
                        <img src="/img/picto/school.png" alt="School hat pictogram">
                        Objectif 3D
                    </li>
                    <li>
                        <img src="/img/picto/phone.png" alt="Phone pictogram">
                        06 69 37 26 04
                    </li>
                </ul>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.852269145271!2d3.861951315757383!3d43.651241860574935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a92af49b31c3%3A0x17a57eba730bff9f!2sObjectif+3D!5e0!3m2!1sfr!2sfr!4v1523201174161"
                        frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
            <!-- Bottom right column -->
            <div class="homepage-column">
                <!-- Contact form -->
                <h2>\ Contact</h2>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}