<div class="footer-row">
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/projects/level-design">Level Design</a>
        </li>
        <li>
            <a href="/projects/game-design">Game Design</a>
        </li>
    </ul>
</div>
<div id ="footer-bottom-row" class="footer-row">
    <a href="http://sysmod-web.fr" target="_blank">Créé par Sysmod-Web</a>
</div>