<div id="topheader-mobile" class="mobile-header">
    <img src="/img/menu.png" alt="Hamburger menu pictogram">
    <span><a href="/">B. Malfray</a></span>
</div>
<navbar class="mobile-header">
    <div class="navbar-block">
        <h3><a href="/">Accueil</a></h3>
    </div>
    <div class="navbar-block">
        <h3><a href="/projects">Projets</a></h3>
        <ul>
            <li>> <a href="/projects/level-design">Level Design</a></li>
            <li>> <a href="/projects/game-design">Game Design</a></li>
        </ul>
    </div>
    <div class="navbar-block">
        <h3><a href="/">B. Malfray</a></h3>
        <ul>
            <a href="/assets/CV_Bertrand_Malfray.pdf" title="Download B. Malfray CV" target="_blank">cv</a>
            <a href="https://www.linkedin.com/in/bertrand-malfray-305a71138/"
               title="B. Malfray LinkedIn profile"
               target="_blank">LinkedIn
            </a>
        </ul>
    </div>
</navbar>