<div id="desktop-header">
    <!-- Header top row -->
    <div id="header-top-row" class="header-row">
        <!-- Header top left column -->
        <div class="header-column align-left">
            <!-- Owner name -->
            <span>B. Malfray</span>
        </div>

        <!-- Header top right column -->
        <div class="header-column align-right">
            <!-- Owner profession & links to work resources -->
            <span>Game Designer</span>
            <a href="#" title="Download B. Malfray CV">cv</a>
            <a href="#" title="B. Malfray LinekIn profile">in</a>
        </div>
    </div>

    <!-- Sub top-row with slashes -->
    <div id="top-decoration" class="header-row">
        <div class="h-slash-right align-left"></div>
        <div class="h-slash-left align-right"></div>
    </div>

    <!-- Header bottom row -->
    <div id="header-bottom-row" class="header-row">
    <!-- Header bottom left column -->
        <!-- Decoration -->
        <div class="align-left decorate"></div>
        <!-- Slash block -->
        <div class="h-slash-left align-left"></div>
        <!-- Content -->
        <div class="header-column align-left">
            <!-- Link to Level Design projects -->
            <a href="/projects/level-design">Level Design</a>
        </div>

    <!-- Header bottom row right column -->
        <!-- Decoration -->
        <div class="align-right decorate"></div>
        <!-- Slash block -->
        <div class="h-slash-right align-right"></div>
        <!-- Content -->
        <div class="header-column align-right">
            <!-- Link to Game Design projects -->
            <a href="/projects/game-design">Game Design</a>
        </div>
    </div>

    <div id="header-pic" class="header-row">
        <img src="/img/infos/bertrand-malfray-crop.png" alt="Photo de Bertrand Malfray">
    </div>
</div>
