<!DOCTYPE html>
<html>
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title of the page -->
    <!-- TODO : define the title in each page template -->
    <title>{% block title %}Bertrand Malfray{% endblock %}</title>

    <!-- Specific stylesheets -->
    {% block stylesheets %}{% endblock %}

    <!-- Global stylesheets -->
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="(max-width: 780px)" href="/css/medium.css">

</head>
<body>

<!-- Display of flash messages (if defined) -->
{% for label, messages in app.flashes %}

    <!-- Loop on every founded message -->
    {% for message in messages %}

        <!-- Create a div class with flash-message type for front-work -->
        <div class="flash flash-{{ label }}">
            {{ message|striptags("<a>")|raw }}
        </div>

    {% endfor %}

{% endfor %}

<!-- Header -->
<header>{% include '_header.html.twig' %}</header>

<!-- Here come the main content, define in children templates -->
<section id="main_content">

    <!-- Display of children's body block -->
    {% block body %}{% endblock %}

</section>

<footer>{% include '_footer.html.twig' %}</footer>


<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    // Hide navbar
    $('navbar').hide();

    // Add click event
    $('#topheader-mobile img').click(function(){
        // If navbar hidden
        if($('navbar').css('display') === 'none') {
            $('navbar').show();

        // If navbar showed
        } else {
            $('navbar').hide();
        }
    });
</script>
<!-- Specific js -->
{% block javascripts %}{% endblock %}

</body>
</html>
