{% block SkillType_widget %}

    <!-- Content & Position -->
    <tr class="skill-item">
        <td>{{ form(form.content) }}</td>
        <td>{{ form_widget(form.position) }}</td>
    </tr>

{% endblock %}