{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Aucun projet pour le moment
    </h1>
{% endblock %}

{% block javascripts %}
    <script>
        $("h1").css('text-align', 'center');
        $('footer').hide();
    </script>
{% endblock %}